<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Meme Creator!</title>
    <meta charset="UTF-8" content="text/html" http-equiv="Content-Type" />
    <meta content="Create meme images instantly" name="description" />
    <meta name="keywords" content="<%= AVAILABLE_MEMES.map {|k, v| v[:name] }.join(", ") %>">

    <style type="text/css">
      html {
        background: #FFF;
        font-family: "Helvetica Neue-Light", "Helvetica Neue", Helvetica,Arial, "Liberation Sans", sans-serif;
        font-size: 16px;
        height: 100%;
        line-height: 1.2em;
      }

      body {
        margin: 20px auto;
        width: 960px;
      }

      h1 {
        text-align: center;
        font-size: 2.4em;
        margin: 40px 0 60px;
      }

      h3.error {
        color: red;
      }
    </style>
  </head>
  <body>
    <h1>
      Welcome to Meme Creator!
    </h1>
    <% if @error && ERROR_MESSAGES[@error] %>
      <h3 class="error"><%= ERROR_MESSAGES[@error] %></h3>
    <% end %>

    <h3>Meme'ing it, nerd style</h3>
    <p>
      Create a meme by going to "<%= request.base_url %>/TOP_LINE/BOTTOM_LINE/MEME_NAME.jpg".
      <br />
      The available meme names are:
      <% AVAILABLE_MEMES.keys.each_with_index do |meme, i| %>
        <a href="<%= request.base_url %>/example top/example bottom/<%= meme %>.jpg" alt="example <%= meme %> meme" target="_blank">
          <%= meme %>
        </a>
        <%= i == (AVAILABLE_MEMES.length - 1) ? "." : "," %>
      <% end %>
    </p>
    <p>
      Example: <a href="<%= request.base_url %>/Y U NO/CREATE ALREADY/YUNO.jpg"><%= request.base_url %>/Y U NO/CREATE ALREADY/YUNO.jpg</a>
    </p>
  </body>
</html>
