<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Meme Creator!</title>
    <meta charset="UTF-8" content="text/html" http-equiv="Content-Type" />
    <meta content="Create meme images instantly" name="description" />
    <meta name="keywords" content="<%= AVAILABLE_MEMES.map {|k, v| v[:name] }.join(", ") %>">

    <style type="text/css">
      html {
        background: #FFF;
        font-family: "Helvetica Neue-Light", "Helvetica Neue", Helvetica,Arial, "Liberation Sans", sans-serif;
        font-size: 16px;
        height: 100%;
        line-height: 1.2em;
      }

      body {
        width: 1020px;
        margin: 20px auto;
      }

      h1 {
        text-align: center;
        font-size: 2.4em;
        margin: 40px 0;
      }

      h3, h4 {
        margin: 0 0 10px;
      }

      h3.error {
        color: red;
        font-size: 2em;
        line-height: 2em;
        text-align: center;
      }

      #footer {
        text-align: center;
        padding: 40px 0;
        clear: both;
      }

      .column {
        float: left;
        width: 470px;
        padding-right: 40px;
      }
    </style>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35131664-1']);
      _gaq.push(['_trackPageview']);

      if(location.hostname.indexOf("memeifier.com") === 0) {
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      }
    </script>
  </head>
  <body>
    <h1>
      Welcome to Meme Creator!
    </h1>
    <% if @error && ERROR_MESSAGES[@error] %>
      <h3 class="error"><%= ERROR_MESSAGES[@error] %></h3>
    <% end %>

    <div class="column left">
      <h3>Meme'ing it, nerd style</h3>
      Create memes just by going to a URL! <br /><br />
      <strong><%= request.base_url %>/TOP_LINE/BOTTOM_LINE/MEME.jpg</strong><br />
      TOP_LINE = the line at the top <br />
      BOTTOM_LINE = the line at the bottom  <br />
      MEME = the name of the meme (from the list below) <br />
      <br />
      Available memes: <br />
      <% AVAILABLE_MEMES.keys.each_with_index do |meme, i| %>
        <% top = AVAILABLE_MEMES[meme][:top] %>
        <% bottom = AVAILABLE_MEMES[meme][:bottom] %>
        <% url = [request.base_url, top, bottom, "#{meme}.jpg"].join("/") %>
        <a href="<%= url %>" title="example <%= AVAILABLE_MEMES[meme][:name] %> meme" target="_blank">
          <%= meme %>
        </a>
        <br />
      <% end %>
    </div>
    <div class="column right">
      <% url = "#{request.base_url}/Oh you made a meme creator/tell me all about it/condescendingwonka.jpg" %>
      <h4>Example</h4>
      <a href="<%= url %>"><%= url %>
        <br/>
        <img src="<%= url %>" />
      </a>
    </div>

    <div id="footer">
      Made by: <a href="http://twitter.com/@jkupferman" target="_blank">@jkupferman</a>
      Fork it on: <a href="http://github.com/jkupferman/meme-creator" target="_blank">Github</a>
    </div>
  </body>
</html>
